@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

html,
body,
#root,
.app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
}
/* UTILITY  */
.textDecoration {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
}
/* .index-btn{
  text-decoration: none;
  background-color: #e7e7e0;
  padding: 13px 54px;
  color: black;
  border-radius: 2px;
  box-shadow: 10px 10px 10px black;
  transition: 0.2s ease-in;
}
.index-btn:hover{
  background-color: black;
  color: white;
  box-shadow: 10px 10px 10px rgb(41, 40, 40);

  
} */

#neonShadow {
  height: 50px;
  width: 200px;
  border: none;	
  border-radius: 50px;
  transition: 0.3s;
  background-color: rgba(156, 161, 160, 0.3);
  animation: glow 1s infinite;
  transition: 0.5s;
  cursor: pointer;
  color: #474444;
}
#neonShadow span {
  /* display: block; */
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding-top: 15%;
  padding-right: 2.5%;
  margin-right: 0px;
  font-size: 1.2rem;
  transition: 0.3s;
  opacity: 0;
  
  
}
#neonShadow span:hover {

  transition: 0.3s;
  opacity: 1;
  font-weight: 700;
}

#neonShadow:hover {
  /* transform: translateX(-20px) rotate(30deg); */
  border-radius: 5px;
  background-color: #c3bacc;
  transition: 0.5s;
}

@keyframes glow {
  0% {
    box-shadow: 5px 5px 20px rgb(93, 52, 168), -5px -5px 20px rgb(93, 52, 168);
  }

  50% {
    box-shadow: 5px 5px 20px rgb(81, 224, 210), -5px -5px 20px rgb(81, 224, 210);
  }
  100% {
    box-shadow: 5px 5px 20px rgb(93, 52, 168), -5px -5px 20px rgb(93, 52, 168);
  }
}
.home-scrollDesign::-webkit-scrollbar {
  width: 0.5rem;
}
.home-scrollDesign::-webkit-scrollbar-thumb {
  background-color: #00d5fa;
  width: 0.1rem;
  border-radius: 1rem;
}

/* CENTERING LOADER  */

.login-loading {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CHAT  */

.out-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background-color: #9a86f3;
}
.chat-container {
  height: 100vh;
  width: 100vw;
  background-color: #00000076;
  display: grid;
  grid-template-columns: 25% 75%;
}
@media screen and (min-width: 720px) and (max-width: 1080px) {
  .chat-container {
    grid-template-columns: 35% 65%;
  }
}

/* INDEX PAGE  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --index: calc(1vw + 1vh);
  --text: #e7e7e0;
  --transition: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
}
@font-face {
  font-family: raleway_f;
  src: url(./fonts/raleway-regular.woff2);
}
@font-face {
  font-family: raleway_f;
  src: url(./fonts/raleway-black.woff2);
  font-weight: 900;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(60, 59, 59);
}
::-webkit-scrollbar-thumb:hover {
  background-color: lightblue;
}
body {
  background-color: #010101;
  font-family: raleway_f, sans-serif;
  line-height: 1.55;
}
.main-header {
  position: relative;
}
.main-header::after {
  content: "";
  position: absolute;
  z-index: 100;
  width: 100%;
  height: calc(var(--index) * 10);
  background-image: url(./img/ground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  bottom: calc(var(--index) * -4.5);
}
.layers {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.layer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  will-change: transform;
  z-index: 2;
  transition: var(--transition);
}
.layers__base {
  transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
  z-index: 0;
}
.layers__middle {
  transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}
.layers__front {
  transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}
.layer__header {
  z-index: 1;
  transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
  transition: var(--transition);
  will-change: transform;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--text);
  text-shadow: 0 0 15px #9d822b;
}
.layers__title {
  font-size: calc(var(--index) * 2.65);
  letter-spacing: calc(var(--index) / 2.25);
}
.layers__caption {
  font-size: calc(var(--index) / 1.175);
  letter-spacing: calc(var(--index) / 3.5);
  margin-top: calc(var(--index) * -0.75);
}
.main-article {
  --main-article-transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
  min-height: 100vh;
  min-width: 100vw;
  background-size: cover;
  background-position: center;
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  /* Update: */
  top: -1px;
  z-index: 10;
}
.main-article__header {
  text-transform: uppercase;
  font-size: calc(var(--index) * 1.8);
  letter-spacing: calc(var(--index) / 7.5);
  transform: var(--main-article-transform);
  transition: var(--transition);
  will-change: transform;
}
.main-article__paragraph {
  max-width: calc(var(--index) * 30);
  font-size: calc(var(--index) * 0.9);
  margin-top: calc(var(--index) / 1.25);
  transform: var(--main-article-transform);
  transition: var(--transition);
  will-change: transform;
}
.content {
  will-change: transform;
}
.copy {
  position: absolute;
  bottom: calc(var(--index) * 2.5);
  opacity: 0.45;
  font-size: calc(var(--index) * 0.75);
  letter-spacing: calc(var(--index) / 37.5);
}

/* Contacts  */

.contacts-container {
  display: grid;
  grid-template-rows: 10% 75% 15%;
  overflow: hidden;
  background-color: white;
}
.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.brand img {
  height: 2rem;
}
.brand h3 {
  color: #00d5fa;
  text-transform: uppercase;
}
.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  gap: 0.8rem;
}
.contact {
  background-color: #00d5fa;
  min-height: 5rem;
  width: 90%;
  cursor: pointer;
  border-radius: 0.2rem;
  padding: 0.4rem;
  gap: 1rem;
  align-items: center;
  display: flex;
  transition: 0.5s ease-in-out;
}
.contacts::-webkit-scrollbar {
  width: 0.5rem;
}
.contacts::-webkit-scrollbar-thumb {
  background-color: #00d5fa;
  width: 0.1rem;
  border-radius: 1rem;
}

.contact-avatar img {
  height: 3rem;
  border-radius: 6px;
}

.contact-username h3 {
  color: white;
}
.selected {
  background-color: #9186f3;
}
.current-user {
  background-color: #9a86f3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.currentuser-avatar img {
  height: 4rem;
  max-inline-size: 100%;
  border-radius: 10px;
}
.currentuser-username h2 {
  color: white;
}
@media screen and (min-width: 720px) and (max-width: 1080px) {
  .contacts-container {
    grid-template-columns: 35% 65%;
  }
}

/* WELCOME  */
.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}
.welcome-container img {
  height: 20rem;
}
.welcome-container span {
  color: #00d5fa;
}

/* CHATCONTAINER  */

.chatContainer-container {
  padding-top: 1rem;
  display: grid;
  grid-template-rows: 10% 78% 12%;
  gap: 0.1rem;
  overflow: hidden;
}
.chat-messages::-webkit-scrollbar {
  width: 0.5rem;
}
.chat-messages::-webkit-scrollbar-thumb {
  background-color: #00d5fa;
  width: 0.1rem;
  border-radius: 1rem;
}

@media screen and (min-width: 720px) and (max-width: 1080px) {
  .chatContainer-container {
    grid-template-rows: 15% 70% 15%;
  }
}
.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
.user-details {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.chatContainer-avatar img {
  height: 3rem;
  margin-left: 40px;
  border-radius: 20px;
}
.chatContainer-username h3 {
	text-decoration: underline;
    font-size: 1.3rem;
}

.chat-messages {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: auto;
}
.message {
  display: flex;
  align-items: center;
}
.content {
  max-width: 40%;
  overflow-wrap: break-word;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.4rem;
  color: #d1d1d1d1;
}
.sended {
  justify-content: flex-end;
}
.sended .content {
  background-color: #d8d8d8;
  color: black;
}
.recieved {
  justify-content: flex-start;
}
.recieved .content {
  background-color: #d8d8d8;
  color: black;
}

/* CHATINPUT  */

.chatinput-container {
  display: grid;
  align-items: center;
  grid-template-columns: 5% 95%;
  background-color: #363939;
  padding: 0 2rem;
}
@media screen and (min-width: 720px) and (max-width: 1080px) {
  .chatinput-container {
    padding: 0 1rem;
    gap: 1rem;
  }
}

.button-container {
  display: flex;
  align-items: center;
  color: white;
  gap: 1rem;
}
.emoji {
  position: relative;
}
.emoji svg {
  font-size: 1.5rem;
  color: #ffff00c8;
  cursor: pointer;
}
.EmojiPickerReact {
  position: absolute;
  top: -500px;
  /* background-color: #080420;
  box-shadow: 0 5px 10px #9a86f3;
  border-color: #9a86f3; */
}

.input-container {
  width: 100%;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: #ffffff34;
}
.input-container input {
  width: 90%;
  /* height: 60%; */
  background-color: transparent;
  color: white;
  border: none;
  padding-left: 1rem;
  font-size: 1.2rem;
}
.input-container input::selection {
  background-color: #9a86f3;
}
.input-container input:focus {
  outline: none;
}
.input-container button {
  padding: 0.3rem 2rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9a86f3;
  border: none;
  cursor: pointer;
}
.input-container button:hover {
  background-color: #685aa5;
}
.input-container button > svg {
  font-size: 2rem;
  color: white;
}
@media screen and (min-width: 720px) and (max-width: 1080px) {
  .input-container button {
    padding: 0.3rem 1rem;
  }
  .input-container button > svg {
    font-size: 1rem;
  }
}

/* MESSAGE  */

.message-container {
  height: 80%;
}
